html {
overflow: scroll;
 overflow-x: hidden;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color:white;
font-family:sans-sarif;
height: 3000px;
background-size:cover;
}
button {
  background:#696969;
  color: white;
  border-radius: 5px;
  height:25px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
background-color: white;
background-size:cover;
margin: 0;
overflow: hidden;
}
#pageToggle {
    height:100px;
    background-color: yellow;
}
.activityPics {
  height: 246;
  width: 246;
  border: 3px solid gray;
    
}
